<nav class="navbar navbar-inverse">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Mafia Family Club</a>
        </div>
        <div class="collapse navbar-collapse" id="navbar">
            <ul class="nav navbar-nav">
                <li *ngFor="let navbarItem of navbarItems" routerLinkActive="active">
                  <a [routerLink]="[navbarItem.path]">{{navbarItem.title}}</a>
                </li>
            </ul>
        </div>

    </div>
</nav>
<div class="container">
    <router-outlet></router-outlet>
</div>
